* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Defining Variables */
:root {
  --tomato: hsl(4, 100%, 67%);
  --slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charcoal-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.action {
  width: 65%;
  margin: auto;
  height: fit-content !important;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.8rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.head {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--charcoal-grey);
  margin-bottom: 2rem;
}

.reaction .head {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.action-text-holder {
  padding: 3rem 1.5rem;
  height: 1000%;
}

.action-image-holder img {
  height: fit-content;
  width: 100%;
  margin-left: 1rem;
}

.para {
  color: var(--grey);
  font-weight: 700;
  font-size: 0.8rem;
}

.mobile-img-holder img {
  display: none;
}

.action-image-holder img {
  display: block;
}

.list {
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.list-holder {
  margin-top: 1.5rem;
}

form {
  margin-top: 1.5rem;
}

label {
  font-size: 0.7rem !important;
  color: var(--slate-grey) !important;
}

#email {
  height: 2.55rem;
  padding: 0.8rem !important;
  border: 1px solid var(--grey) !important;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  width: 100%;
}

.submit {
  padding: 0.6rem 1.2rem;
  margin-top: 1.2rem;
  background-color: var(--charcoal-grey);
  color: white;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  height: 2.55rem;
  cursor: pointer;
}

.form-item label {
  display: flex;
  justify-content: space-between;
}

.invalid-email {
  color: var(--tomato);
  display: flex;
}

.reaction {
  /* height: 70%; */
  width: 33%;
  padding: 3rem;
  background-color: white;
  border-radius: 1.8rem;

}

.reaction-img {
  height: 3rem;
  width: 3rem;
}
.actual-text{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* height: 100%; */
  margin: auto;
}


/* General Styling */
.hide {
  display: none;
}

.show {
  display: block;
}

.strong {
  color: var(--slate-grey);
}

.active {
  background-color: rgba(255, 98, 87, 0.2);
  border: 1px solid var(--tomato);
}

.form-holder {
  margin-top: 2rem;
}

/* Responsiveness Starts */

@media screen and (max-width:414px) {
  .action {
    height: fit-content;
    width: 95%;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .action-image-holder img {
    display: none;
  }

  .action-text-holder {
    padding: 0rem;
  }

  .mobile-img-holder img {
    display: block;
    width: 100%;
  }
  .actual-text{
    padding: 1rem;
  }
  body{
    /* height: 100vh;
    width: 100vh; */
  }
  .reaction{
    width: 95%;
  }
}