* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charcoal-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.action {
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 80%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.8rem;
}

.head {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--charcoal-grey);
  margin-bottom: 2rem;
}

.action-text-holder {
  padding: 3rem 1.5rem;
  height: 1000%;
}

.action-image-holder img {
  height: 77%;
  margin-left: 1rem;
}

p {
  color: var(--grey);
  font-weight: 700;
  font-size: 0.8rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.list-holder{
  margin-top: 1.5rem;
}